<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Meetal</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need to access your location in order to determine your location when posting</string>
	<key>CLIENT_ID</key>
	<string>608071565143-n58eq63dqndfcvam10cmsveuvkg2i2n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608071565143-n58eq63dqndfcvam10cmsveuvkg2i2n0</string>
	<key>API_KEY</key>
	<string>AIzaSyBnmsUIy2MXwyis-OpWCPLC1jA_sUPzs7c</string>
	<key>GCM_SENDER_ID</key>
	<string>608071565143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hongyean.social-media</string>
	<key>PROJECT_ID</key>
	<string>socialmediaswiftui-dae05</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaswiftui-dae05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:608071565143:ios:4799f44d7f3b02613e4812</string>
</dict>
</plist>
